@model IEnumerable<WestBesternoficialya.Models.Reservacion>

<div class="container mt-4">
    <h2>Libro de Reservaciones</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Registrar Nuevo Huésped</a>
    <hr />

    <table class="table table-hover mt-3 shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Huésped</th>
                <th>Habitación</th>
                <th>Salida</th>
                <th>Total a Cobrar</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reserva in Model)
            {
                <tr>
                    <td class="fw-bold">@reserva.NombreCliente <br> <small class="text-muted fw-normal">@reserva.Telefono</small></td>
                    <td><span class="badge bg-primary">Cuarto @reserva.Habitacion?.Numero</span></td>
                    <td>@reserva.FechaSalida.ToString("dd/MM/yyyy")</td>
                    <td class="fw-bold text-success">$@reserva.TotalCobrar.ToString("0.00")</td>
                    
                    <td>
                        @if (reserva.EstadoReserva == "Activa")
                        {
                            <span class="badge bg-success">Activa</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Terminada</span>
                        }
                    </td>

                    <td>
                        @if (reserva.EstadoReserva == "Activa")
                        {
                            <a asp-action="CheckOut" asp-route-id="@reserva.Id" class="btn btn-warning btn-sm fw-bold shadow-sm mb-1">
                                🔑 Entregar Llaves
                            </a>
                            
                            <a asp-action="Edit" asp-route-id="@reserva.Id" class="btn btn-info btn-sm text-white mb-1">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                        }
                        
                        <a asp-action="Delete" asp-route-id="@reserva.Id" class="btn btn-outline-danger btn-sm mb-1">
                            <i class="bi bi-trash"></i> Borrar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>